<template>
  <div id="login">
    <form @submit.prevent="handleSubmit">
      <div
        v-if="alert.message"
      >
        <div
          v-if="alert.message.non_field_errors"
        >
          {{ alert.message.non_field_errors[0] }}
        </div>
      </div>
      <div>
        <label for="username">Username</label>
        <input
          v-model="username"
          type="text"
          name="username"
        >
        <div
          v-if="alert.message"
        >
          <div
            v-if="alert.message.username"
          >
            {{ alert.message.username[0] }}
          </div>
        </div>
      </div>
      <div>
        <label htmlFor="password">Password</label>
        <input
          v-model="password"
          type="password"
          name="password"
        >
        <div
          v-if="alert.message"
        >
          <div
            v-if="alert.message.password"
          >
            {{ alert.message.password[0] }}
          </div>
        </div>
      </div>
      <div>
        <button>
          Login
        </button>
        <router-link
          to="/register"
        >
          Register
        </router-link>
      </div>
    </form>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex';
export default {
    name: 'Login',
    components: {
    },
    data() {
        return {
            username: '',
            password: ''
        };
    },
    computed: {
        ...mapState('account', ['status']),
        ...mapState({
            alert: state => state.alert})
    },
    created () {
        this.logout();
    },
    methods: {
        ...mapActions('account', ['login', 'logout']),
        handleSubmit(e){
            const {username, password} = this;
            this.login({username, password});
        }
    }
};
</script>

<style>
</style>
