<template>
  <div id="offerCreate">
    offer create
    <form @submit.prevent="handleSubmit">
      <div
        v-if="alert.message"
      >
        <div
          v-if="alert.message.non_field_errors"
        >
          {{ alert.message.non_field_errors[0] }}
        </div>
      </div>
      <div>
        <label for="address_from">Address From</label>
        <input
          v-model="offer.address_from"
          type="text"
          name="address_from"
        >
        <div
          v-if="alert.message"
        >
          <div
            v-if="alert.message.address_from"
          >
            {{ alert.message.address_from[0] }}
          </div>
        </div>
      </div>
      <div>
        <label for="address_to">Address To</label>
        <input
          v-model="offer.address_to"
          type="text"
          name="address_to"
        >
        <div
          v-if="alert.message"
        >
          <div
            v-if="alert.message.address_to"
          >
            {{ alert.message.address_to[0] }}
          </div>
        </div>
      </div>
      <div>
        <label for="total_distance">Total Distance</label>
        <input
          v-model="offer.total_distance"
          type="number"
          name="total_distance"
        >
        <div
          v-if="alert.message"
        >
          <div
            v-if="alert.message.total_distance"
          >
            {{ alert.message.total_distance[0] }}
          </div>
        </div>
      </div>
      <div>
        <label for="living_area">Living Area</label>
        <input
          v-model="offer.living_area"
          type="text"
          name="living_area"
        >
        <div
          v-if="alert.message"
        >
          <div
            v-if="alert.message.living_area"
          >
            {{ alert.message.living_area[0] }}
          </div>
        </div>
      </div>
      <div>
        <div>
          <label for="box_room_area">Box Room Area</label>
          <input
            v-model="offer.box_room_area"
            type="text"
            name="box_room_area"
          >
          <div
            v-if="alert.message"
          >
            <div
              v-if="alert.message.box_room_area"
            >
              {{ alert.message.box_room_area[0] }}
            </div>
          </div>
        </div>
        <label for="piano">Piano</label>
        <select v-model="offer.piano">
          <option
            disabled
            value=""
          >
            Please select one
          </option>
          <option value="false">
            No
          </option>
          <option value="true">
            Yes
          </option>
        </select>
        <div
          v-if="alert.message"
        >
          <div
            v-if="alert.message.piano"
          >
            {{ alert.message.piano[0] }}
          </div>
        </div>
      </div>
      <div>
        <button>
          Submit
        </button>
      </div>
    </form>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex';
export default {
    name: 'OfferCreate',
    components: {
    },
    data() {
        return {
            offer : {
                address_from:'' ,
                address_to:'',
                total_distance:'' ,
                living_area: '',
                box_room_area: '',
                piano: ''
            }
        };
    },
    computed: {
        ...mapState('account', ['status']),
        ...mapState({
            alert: state => state.alert})
    },
    methods: {
        ...mapActions('offers', ['createSingleOffer']),
        handleSubmit(e){
            const { offer } = this;
            this.createSingleOffer(offer);
        }
    }
};
</script>

<style>
</style>
