<template>
  <div id="offerPage">
    single offer page
    <table
      v-if="row"
    >
      <thead>
        <tr>
          <th>ID</th>
          <th>Address From</th>
          <th>Adress To</th>
          <th>Total Distance</th>
          <th>Living Area</th>
          <th>Box Room Area</th>
          <th>Piano</th>
          <th>Total Price</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ row.id }}</td>
          <td>{{ row.address_from }}</td>
          <td>{{ row.address_to }}</td>
          <td>{{ row.total_distance }}</td>
          <td>{{ row.living_area }}</td>
          <td>{{ row.box_room_area }}</td>
          <td>{{ row.piano? "Yes": "No" }}</td>
          <td>{{ row.total_price }}</td>
        </tr>
      </tbody>
    </table>
    <div v-else>
      Not Found
    </div>
  </div>
</template>

<script>

import { mapState, mapActions } from 'vuex';
export default {
    name: 'OfferPage',
    components: {
    },
    computed: {
        ...mapState({
            row: state => state.offers.single})
    },
    created () {
        this.getSingle(this.$route.params.id);
    },
    methods: {
        ...mapActions('offers', ['getSingle']),
    }
};
</script>
<style scoped>
table, th, td {
  border: 1px solid black;
}
</style>
