<template>
  <div id="offersPage">
    offers page
    <table id="firstTable">
      <thead>
        <tr>
          <th>ID</th>
          <th>Address From</th>
          <th>Adress To</th>
          <th>Total Distance</th>
          <th>Living Area</th>
          <th>Box Room Area</th>
          <th>Piano</th>
          <th>Total Price</th>
        </tr>
      </thead>
      <tbody>
        <tr
          v-for="row in data"
          :key="row.id"
        >
          <td>
            <router-link
              :to="{path: '/offer/' + row.id}"
            >
              {{ row.id }}
            </router-link>
          </td>
          <td>{{ row.address_from }}</td>
          <td>{{ row.address_to }}</td>
          <td>{{ row.total_distance }}</td>
          <td>{{ row.living_area }}</td>
          <td>{{ row.box_room_area }}</td>
          <td>{{ row.piano ? "Yes": "No" }}</td>
          <td>{{ row.total_price }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>

import { mapState, mapActions } from 'vuex';
export default {
    name: 'OffersPage',
    components: {
    },
    computed: {
        ...mapState({
            data: state => state.offers.all})
    },
    created () {
        this.getAll();
    },
    methods: {
        ...mapActions('offers', ['getAll']),
    }
};
</script>
<style scoped>
table, th, td {
  border: 1px solid black;
}
</style>

