<template>
  <div id="register">
    <form @submit.prevent="handleSubmit">
      <div
        v-if="alert.message"
      >
        <div
          v-if="alert.message.non_field_errors"
        >
          {{ alert.message.non_field_errors[0] }}
        </div>
      </div>
      <div>
        <label for="username">Username</label>
        <input
          v-model="user.username"
          type="text"
          name="username"
        >
        <div
          v-if="alert.message"
        >
          <div
            v-if="alert.message.username"
          >
            {{ alert.message.username[0] }}
          </div>
        </div>
      </div>
      <div>
        <label for="first_name">First Name</label>
        <input
          v-model="user.first_name"
          type="text"
          name="first_name"
        >
        <div
          v-if="alert.message"
        >
          <div
            v-if="alert.message.first_name"
          >
            {{ alert.message.first_name[0] }}
          </div>
        </div>
      </div>
      <div>
        <label for="last_name">Last name</label>
        <input
          v-model="user.last_name"
          type="text"
          name="last_name"
        >
        <div
          v-if="alert.message"
        >
          <div
            v-if="alert.message.last_name"
          >
            {{ alert.message.last_name[0] }}
          </div>
        </div>
      </div>
      <div>
        <label for="email">Email</label>
        <input
          v-model="user.email"
          type="email"
          name="email"
        >
        <div
          v-if="alert.message"
        >
          <div
            v-if="alert.message.email"
          >
            {{ alert.message.email[0] }}
          </div>
        </div>
      </div>
      <div>
        <label htmlFor="password">Password</label>
        <input
          v-model="user.password"
          type="password"
          name="password"
        >
        <div
          v-if="alert.message"
        >
          <div
            v-if="alert.message.password"
          >
            {{ alert.message.password[0] }}
          </div>
        </div>
      </div>
      <div>
        <label htmlFor="password_confirm">Password Confirm</label>
        <input
          v-model="user.password_confirm"
          type="password"
          name="password_confirm"
        >
        <div
          v-if="alert.message"
        >
          <div
            v-if="alert.message.password_confirm"
          >
            {{ alert.message.password_confirm[0] }}
          </div>
        </div>
      </div>
      <div>
        <button>
          Register
        </button>
        <router-link
          to="/login"
        >
          Login
        </router-link>
      </div>
    </form>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex';
export default {
    name: 'Register',
    components: {
    },
    data() {
        return {
            user: {
                username:'' ,
                first_name: '' ,
                last_name: '',
                email: '' ,
                password: '',
                password_confirm: ''
            },
        };
    },
    computed: {
        ...mapState('account', ['status']),
        ...mapState({
            alert: state => state.alert})
    },
    created () {
        this.logout();
    },
    methods: {
        ...mapActions('account', ['register', 'logout']),
        handleSubmit(e){
            const { user } = this;
            this.register(user);
        }
    }
};
</script>

<style>
</style>

