<template>
  <div id="app">
    <div v-if="!account.account.status.loggedIn">
      <router-link :to="'/login'">
        Login
      </router-link> | <router-link :to="'/register'">
        Register
      </router-link>
    </div>
    <div v-else>
      <router-link :to="'/create'">
        Create
      </router-link> | <router-link :to="'/'">
        List
      </router-link> | <router-link :to="'/login'">
        Logout
      </router-link>
    </div>
    <router-view />
  </div>
</template>

<script>

import { mapState, mapActions } from 'vuex';
export default {
    name: 'App',
    components: {
    },
    computed: {
        ...mapState('account', ['status']),
        ...mapState({
            account: state => state})
    },
};
</script>

<style>
</style>
